<tui-island
  size="l"
  textAlign="center"
>
  <div class="tui-island__content">
    <figure class="tui-island__figure">
      <div class="some-figure"></div>
    </figure>
    <div>
      <p class="tui-island__paragraph">
        Создайте комнату для live-coding
      </p>

      <button
        appearance="flat"
        size="m"
        tuiButton
        type="button"
        class="tui-island__footer-button"
        (click)="createRoom()"
      >
        Создать
      </button>
    </div>
  </div>
</tui-island>
