@import "taiga-ui-local";
:host{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  & .container {
    width: 100%;
    height: 100%;
    display: flex;
    & .editor {
      width: 60%;
      resize: vertical;
      overflow: auto;
    }
  }
  & .run{
    width: 40%;
    padding: 20px;
    & .group {
      width: 90%;
    }
    & iframe {
      width: 100%;
      height: 400px;
    }
  }
}
